:root {
  --main-color: rgb(21, 34, 56);
  --secondary-color: rgb(13, 110, 253, 1);
}
body {
  background-color: var(--main-color);
}

.logo-proj:hover {
  box-shadow: 0 0 2px var(--secondary-color), 0 0 2px var(--secondary-color),
    0 0 2px var(--secondary-color);
}
/* NAV */
.active {
  background-color: var(--secondary-color);
}

.background-main {
  background-color: var(--main-color);
}

.navbar {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: transform 0.3s ease-in-out;
}

.navbar-nav .nav-knop {
  border-radius: 100%;
}

.navbar-nav .nav-knop:hover {
  transform: scale(1.05);
  border: 0.5px solid var(--secondary-color);
  box-shadow: 0 0 2px var(--secondary-color), 0 0 2px var(--secondary-color),
    0 0 2px var(--secondary-color);
  transition: all 0.3s ease;
}

.navbar-nav .nav-knop:active {
  transform: scale(1);
}
/* INDEX */

aside .profile-img {
  background-color: transparent;
  border-radius: 50%;
  width: 50%;
}

/* ABOUT */

.title-about {
  font-family: Roboto-bold, sans-serif;
  font-weight: 900;
  font-size: 1.7rem;
  border-bottom: 1px solid white;
}
.links-row {
  display: flex;
  gap: 10px;
}

.links-knop {
  transition: transform 0.3s ease-in-out;
}

.links-knop:hover {
  display: flex;
  border-radius: 100%;
  box-shadow: 0 0 2px var(--secondary-color), 0 0 2px var(--secondary-color),
    0 0 2px var(--secondary-color);
  transform: scale(1.1);
}
  


.icon :hover {
  color: var(--secondary-color);
}

.icon :hover {
  color: var(--secondary-color);
}

.links-about p {
  font-family: Roboto-black, sans-serif;
  font-size: medium;
  font-weight: 400;
}
.skill-card h3 {
  font-family: Roboto-bold, sans-serif;
  font-size: medium;
  font-weight: 600;
}

.progress {
  background-color: var(--main-color);
  box-shadow: 0 0 2px var(--secondary-color), 0 0 2px var(--secondary-color),
    0 0 2px var(--secondary-color);
}
.skill-card .progress-bar {
  font-family: Roboto-bold, sans-serif;
  font-weight: 600;
}

/* PORTFOLIO */
.card {
  background-color: var(--main-color);
  transition: transform 0.3s ease-in-out;
  font-family: Roboto-bold, sans-serif;
  font-weight: 900;
  width: 100%;
  height: 350px;
}
.card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 2px var(--secondary-color), 0 0 2px var(--secondary-color),
    0 0 2px var(--secondary-color);
  border: none !important;
}

.card:active {
  transform: scale(1);
}

.card img {
  width: 1000px;
  height: 200px;
  border-radius: 10px;
}

.card-link {
  text-decoration: none !important;
}

.skill-button {
  pointer-events: none;
  font-size: small;
}

/* PROJECT DETAIL PAGE */
.project-text {
  font-family: Roboto-bold, sans-serif;
  font-weight: 300;
}

.carousel-image {
  width: 300px;
  height: 300px;
}
.carousel-button {
  font-family: Roboto-bold, sans-serif;
  background-color: transparent;
}


.arrow-icon {
  transition: transform 0.3s ease-in-out;
}
.arrow-icon:hover {
  color: var(--secondary-color);
  transform: scale(1.1);
}

.arrow-icon:active {
  text-decoration: none;
  border: none;
}
/* CONTACT */

h2 {
  font-family: Roboto-bold, sans-serif;
  font-weight: 900;
  font-size: 2rem;
}
.form-control {
  background-color: var(--main-color);
  border: none;
  border-radius: 20px;
  font-family: Roboto-bold, sans-serif;
  font-weight: 600;
  box-shadow: 0 0 2px var(--secondary-color), 0 0 2px var(--secondary-color),
    0 0 2px var(--secondary-color);
}

.form-control:focus {
  background-color: var(--main-color);
}
.button-contact {
  border-radius: 20px;
  font-family: Roboto-bold, sans-serif;
  font-weight: 900;
  background-color: var(--main-color);
  box-shadow: 0 0 2px var(--secondary-color), 0 0 2px var(--secondary-color),
    0 0 2px var(--secondary-color);
}

.button-contact:hover {
  scale: 1.05;
}

.button-contact :active {
  scale: 0.9;
}
.informatie {
  font-family: Roboto-black, sans-serif;
  font-weight: bold;
  font-size: small;
  border-radius: 20px;
}

.cv-button {
  border-radius: 20px;
  font-weight: 900;
}
.cv-button:hover {
  border: 2px solid var(--secondary-color);
  font-family: Roboto-bold, sans-serif;
}

#map {
  width: 400px;
  height: 180px;
}

@media (max-width: 321px) {
  .navbar {
    font-size: small;
  }
}

@media (max-width: 380px) {
  .navbar .logo-proj {
    width: 75px !important;
  }
}

@media (max-width: 500px) {
  .navbar .logo-proj {
    display: none;
  }
}

@media (max-width: 470px) {
  #map {
    max-width: 250px;
  }
}

@media (max-width: 576px) {
  .button-contact {
    display: flex;
    justify-content: center;
  }
  article h1 {
    font-size: 2rem !important;
  }
}
