:root {
  --main-color: rgb(19, 19, 20);
  --secondary-color: rgb(49, 54, 63);
  --text-color: rgb(16.08% 19.61% 25.49%);
  --shadow: 6px 6px 6px 1px rgba(0, 0, 0, 0.75);
}
body {
  background-color: var(--main-color);
}

/* NAV */
.active {
  background-color: rgb(13, 110, 253, 1) !important;
}

.background-main {
  background-color: var(--main-color) !important;
}

.navbar {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: transform 0.3s ease-in-out;
}

.navbar-nav .nav-knop {
  border-radius: 100%;
}

.navbar-nav .nav-knop:hover {
  transform: scale(1.05);
  border: 0.5px solid rgb(13, 110, 253, 1);
  box-shadow: 0 0 2px rgb(13, 110, 253, 1), 0 0 2px rgb(13, 110, 253, 1),
    0 0 2px rgb(13, 110, 253, 1);
  transition: all 0.3s ease;
}

.navbar-nav .nav-knop:active {
  transform: scale(1);
}
/* INDEX */

aside .profile-img {
  background-color: transparent;
  border-radius: 50%;
  width: 50%;
}

.github-icon {
  color: white;
}

.github-icon:hover {
  color: white;
  text-decoration: none;
}

.linkedin-icon {
  color: white;
}

.linkedin-icon:hover {
  color: white;
  text-decoration: none;
}
.gmail-icon {
  color: white;
}

.gmail-icon:hover {
  color: white;
  text-decoration: none;
}
/* PORTFOLIO */
.card {
  background-color: var(--main-color);
  transition: transform 0.3s ease-in-out;
  font-family: Roboto-bold, sans-serif;
  font-weight: 900;
  width: 100%;
  height: 350px;
}
.card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 2px rgb(13, 110, 253, 1), 0 0 2px rgb(13, 110, 253, 1),
    0 0 2px rgb(13, 110, 253, 1);
  border: none !important;
}

.card:active {
  transform: scale(1);
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.card-link {
  text-decoration: none !important;
}

.skill-button {
  pointer-events: none;
  font-size: small;
}

/* PROJECT DETAIL PAGE */
.project-container {
  background-color: var(--main-color);
  color: var(--text-color);
}

.project-top {
  background-color: var(--secondary-color);
}

.project-body {
  background-color: var(--secondary-color);
}

.project-details-text {
  color: var(--text-color);
}

/* CONTACT */

h1 {
  font-family: Roboto-bold, sans-serif;
  font-weight: 900;
  font-size: 2rem;
}
.form-control {
  border: none;
  border-radius: 20px;
  font-family: Roboto-bold, sans-serif;
  font-weight: 600;
}

.button-contact {
  border-radius: 20px;
  font-family: Roboto-bold, sans-serif;
  font-weight: 900;
}

.button-contact:hover {
  border: 2px solid rgb(13, 110, 253, 1);
  scale: 1.05;
}

.button-contact :active {
  scale: 0.9;
}
.informatie {
  font-family: Roboto-black, sans-serif;
  font-weight: bold;
  font-size: small;
  border-radius: 20px;
}

.cv-button {
  border-radius: 20px;
  font-weight: 900;
}
.cv-button:hover {
  border: 2px solid rgb(13, 110, 253, 1);
  font-family: Roboto-bold, sans-serif;
}

#map {
  width: 400px;
  height: 180px;
}

@media (max-width: 576px) {
  .button-contact {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 380px) {
  .navbar .logo-proj {
    width: 75px !important;
  }
}

@media (max-width: 321px) {
  .navbar {
    font-size: small;
  }
}
